# Spotify API
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REDIRECT_URI=https://your-domain.com/api/auth/callback/
SPOTIFY_SCOPES=user-top-read user-read-email user-read-private

# Database
DATABASE_URL=postgresql://username:password@host:5432/database_name

# Frontend
FRONTEND_URL=https://your-frontend-domain.com/
VITE_BACKEND_URL=https://your-backend-domain.com/

# Security
JWT_SECRET=your_jwt_secret
TOKEN_ENC_KEY=your_base64_encryption_key

# Django
DJANGO_DEBUG=1